<!DOCTYPE HTML>
<html>
	<head>
		<title>Hall Of Fame</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!-- Global site tag (gtag.js) - Google Ads: 959811457 -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-959811457"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'AW-959811457');
		</script>

		<!-- Relative path must be paid attention to when restructuring -->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="../index.html" class="logo">SAT <span>Khan's Tutorial</span></a>
									<nav>
										<ul>
											<li><a href="#menu">Menu</a></li>
										</ul>
									</nav>
								</header>

							<!-- Nav -->
								<nav id="menu">
									<ul class="links">
										<li><a href="../index.html">Home</a></li>
										<li><a href="halloffame.html">Hall Of Fame</a></li>
										<li><a href="mentorship.html">Mentorship</a></li>
										<li><a href="programs.html">Programs</a></li>
										<li><a href="satfaqs.html">SAT FAQ</a></li>
									</ul>
										<section class="main accent1">
											<div id="navButton">
												<a href="../index.html#cta" class="button">Free Diagnostic / Consultation</a>
											</div>
										</section>
								</nav>

						</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Main -->
								<!-- Images must all be 3x2 portrait -->
								<section class="main special accent2">

									<header class="major">
										<h1>Hall Of Fame</h1>
										<p>The Hall of Fame of our top students who scored the best on their 2019 SAT's</p>
									</header>

									<hr />

									<h2>Top SAT Students</h2>

									<div class="box alt halloffame">
										<div class="row gtr-50 gtr-uniform">
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1580 Adib Rafi.JPG" alt="" /></span>
												<h3>Adib R.</h3>
												<p>1580</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1570 Tabassum Sami.jpg" alt="" /></span>
												<h3>Tabassum S.</h3>
												<p>1570</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1560 Leah James.JPG" alt="" /></span>
												<h3>Leah J.</h3>
												<p>1560</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1560 Kamalpreet Kaur.JPG" alt="" /></span>
												<h3>Kamalpreet K.</h3>
												<p>1560</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1540 Gabriele Veciana.PNG" alt="" /></span>
												<h3>Gabriele V.</h3>
												<p>1540</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1530 Sabahat Sami.HEIC" alt="" /></span>
												<h3>Sabahat S.</h3>
												<p>1530</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1530 Muhaimin Sarker.jpg" alt="" /></span>
												<h3>Muhaimin S.</h3>
												<p>1530</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1530 Mohammed Eshan.HEIC" alt="" /></span>
												<h3>Mohammed E.</h3>
												<p>1530</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1530 Farihah Chowdhury.JPG" alt="" /></span>
												<h3>Farihah C.</h3>
												<p>1530</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1520 Isha Choudhary.jpg" alt="" /></span>
												<h3>Isha C.</h3>
												<p>1520</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1520 Himel Acharjee.JPG" alt="" /></span>
												<h3>Himel A.</h3>
												<p>1520</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1520 Eishika Ahmed.jpg" alt="" /></span>
												<h3>Eishika A.</h3>
												<p>1520</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1500 Zaheen Ferdous.HEIC" alt="" /></span>
												<h3>Zaheen F.</h3>
												<p>1500</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1480 Alimul Bayeazid.JPG" alt="" /></span>
												<h3>Alimul B.</h3>
												<p>1480</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1470 Shahria Abeed.JPG" alt="" /></span>
												<h3>Shahria A.</h3>
												<p>1470</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1470 Rahat Rahman.JPG" alt="" /></span>
												<h3>Rahat R.</h3>
												<p>1470</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1460 Temal Anjali.JPG" alt="" /></span>
												<h3>Temal A.</h3>
												<p>1460</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1460 Norin Chowdhury.jpg" alt="" /></span>
												<h3>Norin C.</h3>
												<p>1460</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1460 Nazif Mahmud.jpg" alt="" /></span>
												<h3>Nazif M.</h3>
												<p>1460</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1460 Junaid Islam.JPG" alt="" /></span>
												<h3>Junaid I.</h3>
												<p>1460</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1450 Nasif Talukder.JPG" alt="" /></span>
												<h3>Nasif Talukder.</h3>
												<p>1450</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1450 Kevin Gomes.jpg" alt="" /></span>
												<h3>Kevin G.</h3>
												<p>1450</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1450 Farzana Tasnim.jpg" alt="" /></span>
												<h3>Farzana T.</h3>
												<p>1450</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1450 Cesar Rodriguez.jpg" alt="" /></span>
												<h3>Cesar R.</h3>
												<p>1450</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1440 Mohammed Islam.jpg" alt="" /></span>
												<h3>Mohammed I.</h3>
												<p>1440</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1440 Adam Ali.JPG" alt="" /></span>
												<h3>Adam A.</h3>
												<p>1440</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1430 Mahi Salaheen.jpg" alt="" /></span>
												<h3>Mahi S.</h3>
												<p>1430</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1430 Arjun Rai.jpg" alt="" /></span>
												<h3>Arjun R.</h3>
												<p>1430</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1430 Alimul Bayeazid.JPG" alt="" /></span>
												<h3>Alimul B.</h3>
												<p>1430</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1420 Shama Dutta.jpg" alt="" /></span>
												<h3>Shama D.</h3>
												<p>1420</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1420 Abdul Rafi.jpg" alt="" /></span>
												<h3>Abdul R.</h3>
												<p>1420</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1410 Sangita Chakraborty.JPG" alt="" /></span>
												<h3>Sangita C.</h3>
												<p>1410</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1410 Nuzhat Tarafder.JPG" alt="" /></span>
												<h3>Nuzhat T.</h3>
												<p>1410</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1410 Mashrur Rafin.jpg" alt="" /></span>
												<h3>Mashrur R.</h3>
												<p>1410</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1410 Darius McCullogh.JPG" alt="" /></span>
												<h3>Darius M.</h3>
												<p>1410</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1390 Puspita Dasroy.jpg" alt="" /></span>
												<h3>Puspita D.</h3>
												<p>1390</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1380 Tamjid Ahmed.JPG" alt="" /></span>
												<h3>Tamjid A.</h3>
												<p>1380</p>
											</div>
											<div class="col-3 col-12-small">
												<!-- 1 -->
												<span class="image fit"><img src="../images/hall/1360 Fisola Aruleba.JPG" alt="" /></span>
												<h3>Fisola A.</h3>
												<p>1360</p>
											</div>
										</div>
								</section>
							</div>
						</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Footer -->
							<footer id="footer">
								<ul class="contact-icons">
									<li class="icon fa-facebook"><a href="https://www.facebook.com/khanstutorial/">@khanstutorial</li>
																			<li class="icon fa-twitter"><a href="https://twitter.com/khanstutorial">@khanstutorial</li>
									<li class="icon fa-phone"><a href="tel:7189389451">(718) 938-9451</a></li>
									<li class="icon fa-envelope-o"><a href="mailto:contactus@khanstutorial.com">contactus@khanstutorial.com</a></li>
								</ul>
								<p class="copyright">&copy; Khan's Tutorial. All rights reserved.</p>
							</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<!-- Relative path must be paid attention to when restructuring -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'e85780de-0b6b-4265-bc3f-6d6a615916d6', f: true }); done = true; } }; })();</script>
	</body>
</html>
