<!DOCTYPE HTML>
<!--
	Altitude by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Programs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!-- Global site tag (gtag.js) - Google Ads: 959811457 -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-959811457"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'AW-959811457');
		</script>

		<!-- Relative path must be paid attention to when restructuring -->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="../index.html" class="logo">SAT <span>Khan's Tutorial</span></a>
									<nav>
										<ul>
											<li><a href="#menu">Menu</a></li>
										</ul>
									</nav>
								</header>

							<!-- Nav -->
								<nav id="menu">
									<ul class="links">
										<li><a href="../index.html">Home</a></li>
										<li><a href="halloffame.html">Hall Of Fame</a></li>
										<li><a href="mentorship.html">Mentorship</a></li>
										<li><a href="programs.html">Programs</a></li>
										<li><a href="satfaqs.html">SAT FAQ</a></li>
									</ul>
										<section class="main accent1">
											<div id="navButton">
												<a href="../index.html#cta" class="button">Free Diagnostic / Consultation</a>
											</div>
										</section>
								</nav>

						</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Main -->
								<!-- Images must all be 16x9 landscape or all 11:5 landscape -->
								<section class="main special accent2">

									<header class="major mentorshipHeader">
										<center>
											<h1>Programs</h1>
										</center>
									</header>

									<br>

									<div class="row gtr-uniform">
																		<div class="col-6 col-12-small">
																				<center>
																						<i style="color:#4A74C9" class="icon fa-certificate fa-3x"></i>
																				</center>
																				<center><h2>SAT Premium 16</h2></center>
																				<center>
																						<div class="table-wrapper">
																								<table class="alt">
																										<tbody>
																												<tr><td><center><strong>A comprehensive crash course that brushes up on all topics covered on the SAT. Designed for sophomores and juniors who want to get introduced to topics on the SAT.</strong></center></td></tr>
																												<tr><td><center><strong>16 Class Package (4 hours each)</strong></center></td></tr>
																												<tr><td><center><strong>2 Classes Per Week (Sat - Sun)</strong></center></td></tr>
																												<tr><td><center><strong>8 Week Program</strong></center></td></tr>
																												<tr><td><center><strong>3 Diagnostic Tests</strong></center></td></tr>
																												<tr><td><center><strong>Full Reviews</strong></center></td></tr>
																												<tr><td><center><strong>10 Daily Quizzes</strong></center></td></tr>
																												<tr><td><center><strong>----</strong></center></td></tr>
																												<tr><td><center><strong>----</strong></center></td></tr>
																												<tr><td><center><strong>----</strong></center></td></tr>
																												<tr><td><center><strong>----</strong></center></td></tr>
																												<tr><td><center><strong>----</strong></center></td></tr>
																										</tbody>
																								</table>
																	 <!-- <a href="https://khans-tutorial.square.site/product/sat-16-online-purchase/70" target="_blank" class="button primary">Buy Now!</a> -->
																	 <a class="button primary"><s>Buy Now</s></a>
																						</div>
																				</center>
																		</div>
																		<div class="col-6 col-12-small">
																				<center>
																						<i style="color:#4A74C9" class="icon fa-certificate fa-3x"></i>
																						<i style="color:#4A74C9" class="icon fa-certificate fa-3x"></i>
																				</center>
																			 <center><h2>SAT Elite 32</h2></center>
																				<center>
																						<div class="table-wrapper">
																								<table class="alt">
																										<tbody>
																												<tr><td><center><strong>A rigorous and extensive SAT program that covers, tests, and reviews everything you need (and more) to succeed on the SAT. Designed for juniors, seniors, and other advanced students who are serious in succeeding on the SAT in little time.</strong></center></td></tr>
																												<tr><td><center><strong>32 Class Package (4 hours each)</strong></center></td></tr>
																												<tr><td><center><strong>4 Classes Per Week (Tue - Fri)</strong></center></td></tr>
																												<tr><td><center><strong>8 Week Program</strong></center></td></tr>
																												<tr><td><center><strong>6 Diagnostic Tests</strong></center></td></tr>
																												<tr><td><center><strong>Full Reviews</strong></center></td></tr>
																												<tr><td><center><strong>20 Daily Quizzes</strong></center></td></tr>
																												<tr><td><center><strong>2 Hour Study Hall</strong></center></td></tr>
																												<tr><td><center><strong>Weekly College Mentoring Sessions</strong></center></td></tr>
																												<tr><td><center><strong>Opportunity to intern at KT</strong></center></td></tr>
																												<tr><td><center><strong>Most students in our SAT Elite program tend to earn 1400+ and 1500+ in their early attempts.</strong></center></td></tr>
																										</tbody>
																								</table>
																								<!-- <a href="https://khans-tutorial.square.site/product/sat-32-online-purchase/71" target="_blank" class="button primary">Buy Now!</a> -->
																								<a class="button primary"><s>Buy Now</s></a>
																						</div>
																				</center>
																		</div>
																</div>
																<br>
																<center>
																<a href="index.html#cta" class="button primary icon fa-phone">Contact Us</a>
																</center>
																<div align="right"><p><font size="1">*Online prices may differ from in-branch pricing</font></p></div>
																<hr />

									<center>
									<div class="row gtr-uniform">
									<div class="col-6 col-12-small">
										<h3>59 Topics in Our Curriculum</h3>
										<p>We divide our SAT curriculum into 12 reading topics, 25 math topics, and 22 grammar topics.
											In each class, students learn at least 5 new topics and practice at least 40 questions per topic.
											Each topic offers extensive classwork, homework, and review questions that are similar to the questions on the actual College Board SAT.</p>
									</div>
									<div class="col-6 col-12-small">
										<h3>New Strategies and Techniques</h3>
										<p>Our SAT curriculum covers new strategies and techniques that no other review book or instructor
											will mention! These strategies can be used to help you answer questions in the snap of a finger and get them
											correct. Our customized review sheets will help you remember the information quickly and easily. All our questions
											and review sheets are unique and handmade, so you can't get them anywhere else.</p>
									</div>
									<div class="col-6 col-12-small">
										<h3>4,000+ Practice Questions in 8 Weeks</h3>
										<p>Each topic consists of 20 questions for classwork, 20 for homework, and 20 for review. At the end of each week,
											students are assigned review problem sets in which they practice additional questions in ALL the topics
											they learned that week.</p>
									</div>
									<div class="col-6 col-12-small">
										<h3>6 Diagnostic Tests and Review</h3>
										<p>We administer 6 handmade diagnostic tests that closely reflects the actual College Board SAT. Following each
											test, we review all questions and go over strategies to finish quicker and get an even score.</p>
									</div>
									<div class="col-6 col-12-small">
										<h3>Daily Quizzes</h3>
										<p>Each class starts off with a small quiz that is based on the last class's topics, followed by review. This ensures
											that whatever you're learning stays in your head, from now until test day.</p>
									</div>

								</div>
								</center>
								<hr>
								<center>
									<h3>Khan's Tutorial is home to the ultimate SAT prep program in the city. Give us a call and try a class out to
										begin your road to a top SAT score and your dream college.</h3>
										<a href="index.html#cta" class="button primary icon fa-phone">Contact Us</a>
								</center>
								<br>
								<br>
								<center>
								<img src="../images/randomkid.jpg" alt="" width="80%"/>
								</center>
								<br>
								<h4>Our instructors do more than teach. They inspire. They increase test scores. They educate for life.<br><br>

									SAT prep and college admissions can be tough, we know. But you're not in this alone.<br><br>

									Want to try us out? Please call us for a free diagnostic test and consultation to see where you stand and how
									we can help you.</h4>
									<br>
									<br>
								</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Footer -->
							<footer id="footer">
								<ul class="contact-icons">
									<li class="icon fa-facebook"><a href="https://www.facebook.com/khanstutorial/">@khanstutorial</li>
																			<li class="icon fa-twitter"><a href="https://twitter.com/khanstutorial">@khanstutorial</li>
									<li class="icon fa-phone"><a href="tel:7189389451">(718) 938-9451</a></li>
									<li class="icon fa-envelope-o"><a href="mailto:contactus@khanstutorial.com">contactus@khanstutorial.com</a></li>
								</ul>
								<p class="copyright">&copy; Khan's Tutorial. All rights reserved.</p>
							</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<!-- Relative path must be paid attention to when restructuring -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'e85780de-0b6b-4265-bc3f-6d6a615916d6', f: true }); done = true; } }; })();</script>
	</body>
</html>
